.article h1 {
  padding-left: 14px;
  padding-right: 14px;
  font-size: 15px;
  padding-top: 3%;
  width: 100vw;
  height: 70px;
  background-color: #b7d7f5;
  color: white;
}

.title-article {
  font-weight: bold;
  color: #1cabe3;
}

.article p {
  margin-top: 23px;
  margin-left: 14px;
  margin-right: 14px;
  line-height: 22px;
}

.text-blue {
  font-size: 22px;
  color: #1cabe3;
  font-weight: bold;
}

.size-bold {
  font-size: 22px;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.unicef-article {
  display: flex;
  margin-left: 14px;
  margin-right: 14px;
}

.unicef-article img {
  max-width: 90%;
  max-height: 90%;
}
.unicef-right {
  margin-top: 50px;
  margin-left: -20px;
}
.unicef-right h1 {
  font-size: 20px;
  width: 170px;
}

.unicef-right h2 {
  margin-top: 10px;
  font-weight: lighter;
  font-size: 13px;
  color: #1e90ff;
}

.unicef-right h3 {
  font-size: 13px;
  font-weight: lighter;
  margin-top: 5vw;
  margin-left: 20vw;
}

.unicef-right img {
  margin-top: 2vw;
  max-width: 30vw;
  margin-left: 20vw;
}

.unicef-right button {
  width: 150px;
  height: 50px;
  background-color: #1e90ff;
  border: none;
  border-radius: 30px;
}

.unicef-right button a {
  color: white;
}
