* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "#";
  src: url("#") format("woff2"), url("#") format("woff");
}

/* MOBILE SCREEN */

@media (min-width: 320px) {
}

/* TABLET SCREEN */

@media (min-width: 768px) {
  section {
    color: aliceblue;
  }
}

@media (min-width: 1280px) {
  section {
    color: aliceblue;
  }
}

/* DESKTOP SCREEN */

@media (min-width: 1366px) {
  section {
    color: aliceblue;
  }
}

@media (min-width: 1920px) {
  section {
    color: aliceblue;
  }
}
