* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "#";
  src: url("#") format("woff2"), url("#") format("woff");
}

/* MOBILE SCREEN */

@media (min-width: 320px) {
  .container-nav .navRoot {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 44px;
    grid-template-areas: "menu_burger logo logo logo logo icons icons";
    padding-top: 24px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    background-color: rgb(64, 144, 155);
  }

  .navSection_Mobile {
    grid-area: menu_burger;
  }

  .navSection_logo {
    grid-area: logo;
  }

  .navSection_Icons {
    grid-area: icons;
  }

  .intro .container-intro {
    background-color: rgb(70, 40, 40);
    height: 408px;
  }
}

/* TABLET SCREEN 

@media (min-width: 768px) {
}

@media (min-width: 1280px) {
}

*/

/* DESKTOP SCREEN 

@media (min-width: 1366px) {
}

@media (min-width: 1920px) {
}

*/
